body {
  margin: 0 3rem;
}

.blog-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 6rem;
  gap: 2rem;
}

.article-image {
  width: 100%;
  height: auto;
}

.article-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.article-info {
  max-width: 100%;
}

.article-paragraph {
  width: 100%;
}

.sidebar-container {
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.search-box input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.search-box button {
  padding: 0.5rem;
  background-color: #e0924e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.categories {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.categories h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.categories p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  body {
    margin: 0 2rem;
  }

  .blog-section {
    display: block;
    margin-top: 2rem;
  }

  .article-image,
  .article-paragraph,
  .sidebar-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0 1rem;
  }

  .blog-section {
    display: block;
    margin-top: 1rem;
  }

  .article-image,
  .article-paragraph,
  .sidebar-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0 0.5rem;
  }

  .blog-section {
    display: block;
    margin-top: 1rem;
  }

  .article-image,
  .article-paragraph,
  .sidebar-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .article-title {
    font-size: 1.5rem;
  }
}
